    /*General Style*/
      body {
          font-size: 20px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      /* Padding for all Body Sections */
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }

      /* Nav Bar */
      .navbar {
          padding-top: 15px;
          padding-bottom: 15px;
          border: 0;
          border-radius: 0;
          margin-bottom: 0;
          font-size: 16px;
          letter-spacing: 5px;
      }

      /*Nav Bar Marine Bruno Header*/
      .navbar-brand {
          font-weight: 900;
          font-size: 25px;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 10px;
          line-height: 50px;
      }

      @media screen and (min-width: 1200px) {
          .navbar-brand {
              font-size: 30px;
          }
      }

      /*Nav Bar Menu/List*/
      .navbar-nav li a {
          border: 15px solid #333333;;
      }

      /*Nav Bar Hover Underline and Color Change*/
      .navbar-nav li a:hover {
          color:tomato !important;
          text-decoration: underline;
      }

      /* Photo Div */
      .bg-1 {
          background-image: url("https://raw.githubusercontent.com/MarineMasta/Alpaca-Portfolio/main/assets/images/charcoal.jpg");
          height: auto;
          width: auto;
          background-size: cover;
          color:white;
          font-style: italic;
          font-variant: small-caps;;
      }

      /* Tools Image */
      .img-circle {
            opacity: 80%;
            display: inline;
            height: 300px;
        }
      .img-circle:hover {
            opacity: 100%;
    }


      /* Date Section */
      .bg-2 {
          background-color: white;
          color:#333333;
      }
      #Time h2 {
          padding-bottom: 50px;
          font-style: italic;
          font-size: 30px;
      }

      #date {
          font-size: 40px;
          font-weight: 800;
      }

      /* Footer */
      .bg-3 {
          background-color:#333333;
          color: white;
 